.backgroundFFFFFF {
	background: #FFFFFF;
}
.backgroundED1C24 {
	background: #ED1C24;
}
.backgroundE2E2E2 {
	background: #E2E2E2;
}
.background4D4D4D {
	background: #4D4D4D;
}
.background000000 {
	background: #000000;
}
.fontFFFFFF {
	color: #FFFFFF;
}
.fontED1C24 {
	color: #ED1C24;
}
.fontE2E2E2 {
	color: #E2E2E2;
}
.font4D4D4D {
	color: #4D4D4D;
}
.font000000 {
	color: #000000;
}