h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
}

header,
section,
footer {
	margin: 30px 0;
}

th,
td {
	padding: 5px 10px;
}

.sectionTitle {
	margin-bottom: 10px;
	padding: 10px;
	background: #4D4D4D;
	color: #FFFFFF;
}

.modelList {
	h3 {
		margin-bottom: 5px;
	}
	
	li {
		margin-bottom: 10px;
	}
}