button:hover {
	background-color: #ebebeb;
}

.team-nome-new {
	position: relative;
	width: 100%;
	margin-bottom: 20px;
	border: 1px solid gray;
	border-radius: 0;
	padding: 10px;
	background: white;
	text-align: left;

	h3 {
		margin: 0;
	}
}

.modal-content-team {
	border-radius: 0px!important;
	padding-top: 10px;
	padding-bottom: 20px;
}

.modal-content-sup {
	top: 0;
	height: 10px;
}

.modal-content-bar {
	position: absolute;
	right: 0;
	left: 0;
	background: black;
}

.modal-content-team .modal-header {
	border: 0;
	padding-right: 20px;
	padding-left: 20px;
}

.team-nome-new-h3 {
	display: inline-block;
	font-family: 'Open Sans', sans-serif;
	font-size: 15.184px;
	font-weight: 300;
}

.team-nome-new-h3-span {
	line-height: 25px;
	font-size: 20px;
	font-weight: 300;

	color: #ED1C24;
}

.modal-content-team .modal-divisor {
	float: left;
	display: inline-block;
	height: 1px;
	width: 100%;
	border: 0;
	background: linear-gradient(to right, transparent, rgba(0,0,0,0.1),transparent);
}

.modal-content-team .modal-body {
	padding-bottom: 0;
}

.team-conteudo {
	line-height: 19px;
	font-family: 'Open Sans', sans-serif;
	font-size: 13px;
	font-weight: 300;

	hr {
		height: 1px;
		margin: 20px 0;
		border: 0;
		background: rgb(237,28,36);
	}

	p {
		margin: 5px 0;
		font-size: 12px;
		font-weight: 300;
	}
}

@media (min-width: 768px) {
	.col-padding-right {
		padding-right: 20px!important;
	}
}

.modal-content-team .modal-footer {
	margin: 0;
	border: 0;
	padding-top: 0;

	p {
		margin: 0;
	}
}

.modal-content-inf {
	bottom: 0;
	height: 20px;
}